body {
	height: 100vh;
	background-image: linear-gradient(rgba(3, 3, 3, 0.575), rgba(0, 0, 0, 0.664)),
		url("https://images.unsplash.com/photo-1621417308431-e424b20a773d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
	max-width: 100vw;
}
.btn-secondary {
	color: rgb(255, 255, 255);
	text-shadow: none;
}
.btn-secondary:hover {
	color: rgba(243, 236, 236, 0.787);
}
.contact {
	text-decoration: none;
	font-weight: 400;
	color: white;
}
.contact:hover {
	color: rgb(7, 143, 255);
}

.align {
	text-align: left;
}
