<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->

<div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class="text-center mb-3">All Accounts</h1>
        <% for(let account of accounts){ %> 
           <div class="card py-2 mb-3 color">
               <div class="card-body">
                <table class="table">
                    <tbody class="table-light">
                        <tr>
                        <th scope="row"><%= account.name %>'s Account</th>
                        <td><a href="/accounts/<%= account._id %>" class="btn btn-sm btn-primary text-end">Details</a></td>
                        </tr>
                    </tbody>
                </table>
                 </div>
           </div>
        <% } %> 
    </div>
</div>

